entry
.idea/
obj/
build*/
log.txt
nemu-pal
game/src/nemu-pal/data/*
!game/src/nemu-pal/data/generate.py
!Makefile*
!*.[cSh]
!test.sh
!.gitignore
!README.md
!lib-common/uclibc/lib/*
!kernel/src/memory/mm_malloc.o
!testcase/user.ld
